[submodule "PerformanceEvaluation/NFD"]
	path = PerformanceEvaluation/NFD
	url = https://phylib@bitbucket.org/phylib/nfd-push-2_3.git
	branch = testbed-branch
[submodule "PerformanceEvaluation/ndn-cxx"]
	path = PerformanceEvaluation/ndn-cxx
	url = https://phylib@bitbucket.org/phylib/ndn-cxx_2_3.git
	branch = testbed_branch
[submodule "PerformanceEvaluation/applications"]
	path = PerformanceEvaluation/applications
	url = https://stheuer@bitbucket.org/stheuer/ndnpushpullapps.git
[submodule "PerformanceEvaluation/execution-scripts"]
	path = PerformanceEvaluation/execution-scripts
	url = https://stheuer@bitbucket.org/stheuer/pushpullexecutionscripts.git
[submodule "BitvectorEvaluation/ndnSIMScenario"]
	path = BitvectorEvaluation/ndnSIMScenario
	url = https://github.com/phylib/BitvectorEvaluation.git
